/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}



/* Structure */
.calenders {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction: row
}

.calender {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
}

.calender-rows {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: row;
}

.calender-rows-unit {
  flex-grow: 1;
  flex-basis: 0;

  overflow: hidden;

  min-width: 35px;
  min-height: 33px;
}

.calenders button {
  width: 100%;
  height: 100%;
}

/* custom */
.default .calender-rows-unit {
  border: solid black 1px;
}

.default .elm-period-picker-selected {
  background: blueviolet;
}

.default button:disabled,
.default button[disabled] {
  background-color: tomato;
  color: blue;
}

/* coluer full */
.coluerfull button {
  box-shadow: 0px 10px 14px -7px #276873;
  background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color:#599bb3;
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:10px 21px;
  text-decoration:none;
  text-shadow:1px 3px 0px #3d768a;
}
.coluerfull button:hover {
  background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color:#408c99;
}

/* flat */
.flat button {
  color: #494949 !important;
  text-decoration: none;
  background: #ffffff;
  padding: 5px 9px;
  border: 3px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}
.flat button:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}
.flat .elm-period-picker-selected {
  color: #ffffff !important;
  background: #e2ad44;
  border-color: #e2ad44 !important;
  transition: all 0.4s ease 0s;
}
.flat button:disabled {
  color: #ffffff !important;
  background: #00000030;
  border-color: #00000030 !important;
  transition: all 0.4s ease 0s;
}
